%h1 Overview for #{current_user.first_name}

- if @activities.any?
  %h2 Balance: #{@entry_balance.to_i} (#{@entry_rounded_hour} hrs)
  - if session[:authorization]
    %button#add_event Add event from calendar
    .pull-event-form.hidden
      = form_with(url: "/calendar_events", method: "get", local: true) do
        .time-inputs
          = label_tag('start', "Time Start")
          = select_datetime(Time.current.beginning_of_day, order: [:month, :day, :year], ampm: true, prefix: "start")
        .time-inputs
          = label_tag('end', "Time End")
          = select_datetime(Time.current.end_of_day, order: [:month, :day, :year], ampm: true, prefix: "end")
        = submit_tag("Search Calendar Events")
  - else
    = link_to "Integrate Google Calendar", authorize_path
  %p ---
  = form_for @entry do |f|
    = f.select(:activity_id, current_user.activities.map { |activity| [activity.name.capitalize, activity.id] } + [["Add new...", "", { class: "add-new-activity"}]], include_blank: true)
    = text_field_tag :activity_name, nil, { placeholder: "Activity name", class: "activity-name-input hidden" } 
    = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type", class: "activity-category-input hidden" }
    = f.number_field :minutes, placeholder: "Minutes spent"

    = f.submit "Submit"

  %ul
    - @activities.each do |activity|
      %li= "Name: " + activity.name.capitalize
      %li= "Type: " + activity.category.capitalize
      %li= "Time Spent: " + distance_of_time_in_words(0, @entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes)*60)
      %br
- else
  %p No activities yet, add one!
  = form_for @entry do |f|
    = text_field_tag :activity_name, nil, { placeholder: "Activity name", class: "activity-name-input" } 
    = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type" }
    = f.number_field :minutes, placeholder: "Minutes spent"

    = f.submit "Submit"

