.container#dashboard_container
  %p#text_xl.overview-text Overview for #{current_user.first_name}

  %button.button-primary#7_day_view Last 7 days
  %button.button-primary#30_day_view Last 30 days

  = line_chart @past_week_chartkick_data, { colors: ["#90EE90", "#FF7E75"], curve: false, defer: true, messages: {empty: "No data."} }

  = line_chart @past_month_chartkick_data, { colors: ["#90EE90", "#FF7E75"], curve: false, defer: true, messages: {empty: "No data."} }

  - if @activities.any?
    %p#text_lg{ data: { balance: true } } Balance: #{mins_to_condensed_time(@entry_balance.to_i)}

  - if session[:authorization]
    .pull-event-form.sm-screen-form
      = form_with(url: "/calendar_events", method: "get", local: true) do
        .time-inputs
          = label_tag('start', "Time Start")
          = select_datetime(Time.current.beginning_of_day, order: [:month, :day, :year], ampm: true, prefix: "start")
        .time-inputs
          = label_tag('end', "Time End")
          = select_datetime(Time.current.end_of_day, order: [:month, :day, :year], ampm: true, prefix: "end")
        = submit_tag("Search Calendar Events")
    
    .pull-event-form.lg-screen-form
      = form_with(url: "/calendar_events", method: "get", local: true) do
        .time-inputs
          = label_tag('start', "Time Start")
          = select_datetime(Time.current.beginning_of_day, order: [:month, :day, :year], ampm: true, prefix: "start")
        .time-inputs
          = label_tag('end', "Time End")
          = select_datetime(Time.current.end_of_day, order: [:month, :day, :year], ampm: true, prefix: "end")
        = submit_tag("Search Calendar Events")
  - else
    %button.sm-screen-button
      = link_to "Integrate Google Calendar", authorize_path
    %button.lg-screen-button
      = link_to "Integrate Google Calendar", authorize_path

  %p.separator
    %span or
  %p#text_xsm.lg-screen-separator or

  - if @activities.any?
    .sm-screen-form
      = form_for @entry do |f|
        = f.select(:activity_id, current_user.activities.map { |activity| [activity.name.titleize, activity.id] } + [["Add new...", ""]], {}, { data: { activity_name_select: true }})
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input hidden" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type", class: "activity-category-input hidden" }
        = f.number_field :minutes, placeholder: "Minutes Spent", inputmode: "tel"
        = f.submit "Submit"

    .lg-screen-form
      = form_for @entry do |f|
        = f.select(:activity_id, current_user.activities.map { |activity| [activity.name.titleize, activity.id] } + [["Add new...", ""]], {}, { data: { activity_name_select: true }})
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input hidden" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type", class: "activity-category-input hidden" }
        = f.number_field :minutes, placeholder: "Minutes Spent"
        = f.submit "Submit"
  - else
    %p No activities yet, add one!
    .sm-screen-form
      = form_for @entry  do |f|
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type" }
        = f.number_field :minutes, placeholder: "Minutes Spent", inputmode: "tel"
        = f.submit "Submit"
    
    .lg-screen-form
      = form_for @entry do |f|
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type" }
        = f.number_field :minutes, placeholder: "Minutes Spent"
        = f.submit "Submit"

  %h2.table-header Contributors
  %table.u-full-width
    %thead
      %tr
        %th Activity Name
        %th Total Duration
    %tbody
      - @contributors.each do |activity|
        %tr
          %td= link_to(activity.name.titleize, activity_path(activity), { class: "activity-link" })
          %td= mins_to_condensed_time(@entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes).to_i)
  
  %h2.table-header Subtractors 
  %table.u-full-width
    %thead
      %tr
        %th Activity Name
        %th Total Duration
    %tbody
      - @subtractors.each do |activity|
        %tr
          %td= link_to(activity.name.titleize, activity_path(activity), { class: "activity-link" })
          %td= mins_to_condensed_time(@entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes).to_i)

