.container#dashboard_container
  %p#text_xl.overview-text Overview for #{current_user.first_name}

  - if @activities.any?
    %p#text_lg{ data: { balance: true } } Balance: #{mins_to_condensed_time(@entry_balance.to_i)}

  - if session[:authorization]
    .pull-event-form.sm-screen-form
      = form_with(url: "/calendar_events", method: "get", local: true) do
        .time-inputs
          = label_tag('start', "Time Start")
          = select_datetime(Time.current.beginning_of_day, order: [:month, :day, :year], ampm: true, prefix: "start")
        .time-inputs
          = label_tag('end', "Time End")
          = select_datetime(Time.current.end_of_day, order: [:month, :day, :year], ampm: true, prefix: "end")
        = submit_tag("Search Calendar Events")
    
    .pull-event-form.lg-screen-form
      = form_with(url: "/calendar_events", method: "get", local: true) do
        .time-inputs
          = label_tag('start', "Time Start")
          = select_datetime(Time.current.beginning_of_day, order: [:month, :day, :year], ampm: true, prefix: "start")
        .time-inputs
          = label_tag('end', "Time End")
          = select_datetime(Time.current.end_of_day, order: [:month, :day, :year], ampm: true, prefix: "end")
        = submit_tag("Search Calendar Events")
  - else
    %button.sm-screen-button
      = link_to "Integrate Google Calendar", authorize_path
    %button.lg-screen-button
      = link_to "Integrate Google Calendar", authorize_path

  %p.separator
    %span or
  %p#text_xsm.lg-screen-separator or

  - if @activities.any?
    .sm-screen-form
      = form_for @entry do |f|
        = f.select(:activity_id, current_user.activities.map { |activity| [activity.name.titleize, activity.id] } + [["Add new...", ""]], {}, { data: { activity_name_select: true }})
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input hidden" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type", class: "activity-category-input hidden" }
        = f.number_field :minutes, placeholder: "Minutes Spent"
        = f.submit "Submit"

    .lg-screen-form
      = form_for @entry do |f|
        = f.select(:activity_id, current_user.activities.map { |activity| [activity.name.titleize, activity.id] } + [["Add new...", ""]], {}, { data: { activity_name_select: true }})
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input hidden" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type", class: "activity-category-input hidden" }
        = f.number_field :minutes, placeholder: "Minutes Spent"
        = f.submit "Submit"
  - else
    %p No activities yet, add one!
    .sm-screen-form
      = form_for @entry  do |f|
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type" }
        = f.number_field :minutes, placeholder: "Minutes Spent"
        = f.submit "Submit"
    
    .lg-screen-form
      = form_for @entry do |f|
        = text_field_tag :activity_name, nil, { placeholder: "Activity Name", class: "activity-name-input" } 
        = select_tag :activity_category, options_for_select([['Contributor', 'contributor'], ['Subtractor', 'subtractor']]), { prompt: "Select type" }
        = f.number_field :minutes, placeholder: "Minutes Spent"
        = f.submit "Submit"

  .row#sm_screen_row
    %p#text_lg.category-title.green Contributors
    %p#text_med.category-sum.green #{mins_to_condensed_time(@contributor_sum.to_i)}
    %ul
      - @contributors.each do |activity|
        %p#text_sm.activity-name= activity.name.titleize + ", " + mins_to_condensed_time(@entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes).to_i)
        - activity.entries.order('created_at DESC').each do |entry|
          %li#text_xsm= entry.created_at.strftime("%b %e, %Y") + " - " + mins_to_condensed_time(entry.minutes.to_i)
          = link_to(image_tag("edit_icon.svg"), edit_entry_path(entry), id: "edit_icon") 
          = link_to(image_tag("delete_icon.svg"), entry_path(entry), method: :delete, data: { confirm: 'Please confirm that you would like to delete this entry.' }, id: "delete_icon")

  .row#sm_screen_row
    %p#text_lg.category-title.red Subtractors
    %p#text_med.category-sum.red #{mins_to_condensed_time(@subtractor_sum.to_i)}
    %ul
      - @subtractors.each do |activity|
        %p#text_sm.activity-name= activity.name.titleize + ", " + mins_to_condensed_time(@entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes).to_i)
        - activity.entries.order('created_at DESC').each do |entry|
          %li#text_xsm= entry.created_at.strftime("%b %e, %Y") + " - " + mins_to_condensed_time(entry.minutes.to_i)
          = link_to(image_tag("edit_icon.svg"), edit_entry_path(entry), id: "edit_icon") 
          = link_to(image_tag("delete_icon.svg"), entry_path(entry), method: :delete, data: { confirm: 'Please confirm that you would like to delete this entry.' }, id: "delete_icon")
            
  .row#lg_screen_row
    .six.columns
      %p#text_lg.category-title.green Contributors
      %p#text_med.category-sum.green #{mins_to_condensed_time(@contributor_sum.to_i)}
      %ul
        - @contributors.each do |activity|
          %p#text_sm.activity-name= activity.name.titleize + ", " + mins_to_condensed_time(@entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes).to_i)
          - activity.entries.order('created_at DESC').each do |entry|
            %li#text_xsm= entry.created_at.strftime("%b %e, %Y") + " - " + mins_to_condensed_time(entry.minutes.to_i)
            = link_to(image_tag("edit_icon.svg"), edit_entry_path(entry), id: "edit_icon") 
            = link_to(image_tag("delete_icon.svg"), entry_path(entry), method: :delete, data: { confirm: 'Please confirm that you would like to delete this entry.' }, id: "delete_icon")

    .six.columns
      %p#text_lg.category-title.red Subtractors
      %p#text_med.category-sum.red #{mins_to_condensed_time(@subtractor_sum.to_i)}
      %ul
        - @subtractors.each do |activity|
          %p#text_sm.activity-name= activity.name.titleize + ", " + mins_to_condensed_time(@entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes).to_i)
          - activity.entries.order('created_at DESC').each do |entry|
            %li#text_xsm= entry.created_at.strftime("%b %e, %Y") + " - " + mins_to_condensed_time(entry.minutes.to_i)
            = link_to(image_tag("edit_icon.svg"), edit_entry_path(entry), id: "edit_icon") 
            = link_to(image_tag("delete_icon.svg"), entry_path(entry), method: :delete, data: { confirm: 'Please confirm that you would like to delete this entry.' }, id: "delete_icon")
            
