.container#edit_password_container
  %h1 Reset Password

  .sm-screen-form
    = form_for @user, url: password_reset_path(params[:id]) do |f|
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit 'Update password'

  .lg-screen-form
    = form_for @user, url: password_reset_path(params[:id]) do |f|
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit 'Update password'

