%h1 #{current_user.name}'s Activities

%h2 Balance: #{@entry_balance.to_i} (#{@entry_rounded_hour} hrs)

= link_to "+", new_entry_path

%ul
  - @activities.each do |activity|
    %li= "Name: " + activity.name.capitalize
    %li= "Type: " + activity.category.capitalize
    %li= "Time Spent: " + distance_of_time_in_words(0, @entries.joins(:activity).where(activities: { name: activity.name }).sum(:minutes)*60)
    %br

