%h1 #{current_user.name}'s Activities

%h2 Balance: #{@activity_balance.to_i} (#{@activity_rounded_hour} hrs)

= link_to "+", new_activity_path

%ul
  - @activities.each do |activity|
    %li= "Name: " + activity.name.capitalize
    %li= "Type: " + activity.category.capitalize
    %li= "Duration: " + activity.minutes.to_i.to_s
    %li= "Date: " + activity.created_at.strftime("%A, %B %e, %Y")
    %br

